#resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.resumeTitle {
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
}

.resumeDesc {
  font-weight: 300;
  font-size: 1rem;
  max-width: 50rem;
  padding: 0 2rem;
  padding-bottom: 2rem;
}

.resumeFrame {
  width: 70vw;
  height: 80vh; 
  max-height: 60rem;
  margin: 0 auto;
}

@media screen and (max-width:620px) {
  .resumeFrame {
    height: 50vh;
  }
}

@media screen and (max-width:300px) {
  .resumeFrame {
    height: 30vh;
  }
}